<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
               Binvenido
            {% endblock %}
        </title>
        
        {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css')}}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body> 
        {% block header %}
            <div id="header">        
        
                <h1> Tareas Symfony 4.4.18 ✅</h1>
                <ul id="menu">
                    
                    <!-- Validar si el usuario esta identificado -->
                    {% if app.user %}

                        <li><a href="{{ path('tasks') }}">Inicio</a></li>
                        <li><a href="{{ path('mis_tareas') }}">Mis tareas</a></li>
                        <li><a href="{{ path('crear_tarea')}}">Crear tarea</a></li>
                        <li class="right"><a href="">{{ app.user.name ~' '~ app.user.surname }}</a></li>
                        <li class="right"><a href="{{ path('logout') }}">Cerrar sesión</a></li>
                                
                    {% else %}

                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('registro_usuario') }}">Registrarse</a></li>

                    {% endif %}                
                </ul>
            </div>
                <div class="clearfix"></div>
            
        {% endblock %}      

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
